#heading{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #333;


}
#hover-card{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    color: #333;
    align-items: center;
}